/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

#root {
    height: 100%;
}

html {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flexFrame {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

body {
    height: 100%;
    width: 100%;
    position: relative;
    color: white;
    font-family: sans-serif;
    /*overflow-y: scroll;*/
    /*background: linear-gradient(*/
    /*        200.96deg,*/
    /*        #4286f4 -29.09%,*/
    /*        #8e2de2 51.77%,*/
    /*        #556270 129.35%*/
    /*    )*/
    /*    fixed;*/
    background: rgb(60, 207, 80);
    background: linear-gradient(
            200deg,
            rgba(60, 207, 80, 1) 0%,
            rgba(46, 167, 141, 1) 56%,
            rgba(0, 212, 255, 1) 100%
        )
        fixed;
    margin: 0;
    /*align-items: center;*/
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    height: fit-content;
    width: fit-content;
    margin: 10px;
}

a:hover {
    opacity: 1;
    text-decoration: none;
}

.Hello {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
